body{
	font-family: "impact";
}

/* Tela Inicial */
.entrada{
	text-align: center;
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(../img/screen.jpg);
	background-size: 100% 100%;
	height: 100vh;
}
.entrada h1 span:nth-child(1){
	color: #7A8096;
	text-shadow: 2px 1px #DE8587;
}
.entrada h1 span:nth-child(2){
	color: #DE8587;
	text-shadow: 2px 1px #D2C9BA;
}
.entrada h1 span:nth-child(3){
	color: #E7D2F1;
	text-shadow: 2px 1px #DE8587;
}
.entrada h1 span:nth-child(4){
	color: #7A8096;
	text-shadow: 2px 1px #D2C9BA;
}
.entrada h1 span:nth-child(5){
	color: #E7D2F1;
	text-shadow: 2px 1px #DE8587;
}
.entrada h1 span:nth-child(6){
	color: #DE8587;
	text-shadow: 2px 1px #7A8096;
}
.entrada .number{
	color: #D2C9BA;
	font-size: 1.5em;
}
.entrada h1{
	padding: 5vh 10vw;
	font-size: 5em;
	font-weight: bold;
	color: white;
}
.entrada ul li{
	text-align: center;
	font-size: 1.5em;
	color: #393943;
	margin: 0 10vw;
	line-height: 8vh;
	text-shadow: 1px 1px #a29bfe;
}

.entrada ul li:nth-child(5){
	margin-bottom: 5vh;
}
.entrada .botao{
	font-size: 2em;
	color: #86A5AC;
	background-color: #393943;
	border-radius: 5vw;
	padding: 5vh 0;
	margin: 0 10vw;
}

/* Tela Principal */
.jogo{
	/*display: none;*/
	background: url(../img/screen.jpg);
	background-size: 100% 100%;
	text-align: center;
	font-size: 6vw;
	height: 100vh;
}
.jogo h1{
	padding: 20vw;
	font-size: 7vw;
	font-weight: bold;
	color: #393943;
}
.jogo img{
	height: 40vw;
	padding: 3vw;
}

/* Tela Final */
.fim{
	/*display: none;*/
	background: url(../img/screen.jpg);
	background-size: 100% 100%;
	height: 100vh;
	text-align: center;
	font-size: 7vw;
	padding: 15vw 10vw 10vw 10vw;
	box-sizing: border-box;
	color: #393943;
}
.fim h1{
	margin-bottom: 25vw;
	font-size: 10vw;
	font-weight: bold;
}
.ganhou h2{
	margin-top: 10vw;
	font-weight: bold;
}
.fim h3{
	font-size: 20vw;
	margin-top: 10vw;
	font-weight: bold;
}
.fim h4{
	margin: 10vw 0 35vw 0;
	font-weight: bold;
}
.fim p a{
	text-decoration: none;
	color: #86A5AC;
	background-color: #393943;
	padding: 5vw;
	border-radius: 5vw;
	font-size: 5vw;
}
